name: Testing

on:
  push:
    branches:
      - main
      - master

jobs:
  run_tests:
    uses: WritePoetry/reusable-workflows/.github/workflows/php-tests.yml@main
    with:
      php_versions: "['8.1','8.2','8.3']"
    secrets: inherit
